@import url(http://fonts.googleapis.com/css?family=Roboto:100, 300);

body {
  background-image: url(../images/blackgb.jpg);
  height: 100%;
}

/**  Header Navigation **/


header .jumbotron {
  height: 70px;
  margin-bottom: 0;
  background: url(../images/background.png) no-repeat 100% 5%;
  background-size: cover;
}

/**  Navbar **/

header .navbar {
  background: #ffc107;
  margin-bottom: 0;
  border-radius: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  font-stretch: condensed;
}


header .navbar-default {
  border: none;
  border-radius: 0;
  padding: 10px 0;
}

.navbar-inverse {
  margin: 5px;
}

header .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
 
}
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #212121;
    color: #ffc107;
}

.navbar-inverse .dropdown-menu {
	background-color: #ffc107;
}

.navbar-inverse .dropdown > .dropdown-menu > li > a:hover, 
.navbar-inverse .dropdown > .dropdown-menu > li > a:focus {
    background: #212121;
    color: #ffc107;
}

.navbar-inverse .collapse .nav .dropdown-menu li a{
	color: #212121;
}

.navbar-inverse .collapse .dropdown > .dropdown-menu > li > a:hover, 
.navbar-inverse .collapse .dropdown > .dropdown-menu > li > a:focus {
    background: #212121;
    color: #ffc107;
}

header .navbar-inverse .navbar-brand{
  color: #212121;
}
header .navbar-inverse .navbar-brand:hover{
  color: #ffc107;
  background-color: #212121;
}

header .navbar-inverse .navbar-nav>li>a {
  color: #212121;
} 

header .navbar-inverse .navbar-nav>li>a:hover {
  color: #ffc107;
  background-color: #212121;
} 

.container{
	margin: 0 auto;
	width: 80%;
}

.form-control {
 	background-color: rgba(33, 33, 33, 0.51);
	color: #fff;
	font-weight: bold;
	
  	
}

.feedback-form-title {
	margin-top: 50px;
	color: #ffc107;
	font-weight: bold;	
}

.feedback .article-title{
	font-weight: bold;
	color: #ffc107;
	
}

.feedback-form {
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
	color: #bfbfbf;

}


.feedback-title {
  font-weight: bold;
  color: #bfbfbf;
  font-size: 20px;
}

.feedback-form-title {
  font-size: 2em;
}

.feedback-name {
  font-size: 15px;	
  font-weight: bold;
  color: #212121;
  background-color: #ffc107;
}
.maincontent{
	margin-top: 50px;
	margin-left: 80px;
	padding: 10px;
	background-color: rgba(33, 33, 33, 0.51);
	/*overflow: scroll;
	height: 300px;*/
}

.feedback-message {
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.74);
}

.feedback-item {
  border-bottom: 1px solid gray;
  padding: 8px 0;
}

.feedback-item:last-of-type {
  border-bottom: none;
}

.btn{
	background-color: #212121;
	color: #ffc107;
	font-weight: bold;
}
.btn:hover{
	background-color: #ffc107;
	color: #212121;
	font-weight: bold;
}